@import 'fonts.css';

#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; 
}

:root {
    --color-main-background: #e8e8e8;
    --color-dark-blue: #004e92 ;
    --color-primary: #4376c9;
    --color-grey: #8090a0;
    --color-dark-grey: #405060;
    --color-selected-backround: #e3eefa;
    --color-selected-hover-backround: #d6e8fc;
}

.app {
    margin: 0 auto;          
    min-height: 50vh;
    
    color: #2c3e50;
    background: var(--color-main-background);

    @media (max-width: 576px) {
        background: white;
    }
}