@import 'fonts.css';

.nf-container {
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;
    margin-top: 5vh;        
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-color: aquamarine;    
}

h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: .5em;    
    color: #304050;    
}

h4 {
    font-size: 32px;
    font-weight: 700;    
    color: #506070;    
}